# Ignore everything inside Week folders
Week*/*
 
# But keep LAB folders and their contents
!Week*/LAB/
!Week*/LAB/**
# Files that should never be uploaded
.venv/
__pycache__/
.ipy*b_checkpoints/
__MACOSX/
.DS_Store*.env